@import url('https://fonts.googleapis.com/css2?family=Federant&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #256D85;
  --secondary-color: #2c96b9;
  --accent-color: #F2994A;
  --background-color: #F5F7FA;
  --text-color: #333333;
  --border-color: #D1D5DB;
  --font-federant: 'Federant', serif;
  --font-poppins: 'Poppins', sans-serif;
}

.dark {
  --primary-color: #58A6FF;
  --secondary-color: #1C7ED6;
  --accent-color: #F2994A; /* pode manter o mesmo */
  --background-color: #121212;
  --text-color: #ffffff;
  --border-color: #374151;
}

body, html{
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.6s ease, color 0.6s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.font-federant{
  font-family: var(--font-federant);
}

.font-poppins{
  font-family: var(--font-poppins);
}